# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# perso
ajolotarios/.next/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
/coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
/bower_components/
/jspm_packages/
/web_modules/

# Build directories
/.next/
/out/
/build
/build/Release

# Cache directories
.grunt
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache/
.parcel-cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.temp/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# TypeScript and related
*.tsbuildinfo
next-env.d.ts

# Misc files
.DS_Store
*.pem
*.tgz

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variable files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Misc directories
.lib-cov
.nuxt
.dist
.vuepress/dist
.tern-port

# Yarn PnP
.pnp.*

# Optional caches
.npm
.eslintcache
.stylelintcache

# Misc files
.node_repl_history
.vscode-test
